**/*.b  linguist-language=C linguist-display-name="B" linguist-hex-color="#555555"
**/*.sh linguist-language=Shell linguist-display-name="Shell"
pgit-blacklist="Modula-2"
pgit-blacklist="XML"
pgit-blacklist="GDScript3"
pgit-blacklist="JSON"
pgit-blacklist="YAML"
